extends layout 
 
block content 
  h1= title 
 
  form(id='shakesForm', action="/resource/shakes", method="POST") 
    div.form-group 
        label.shakesAttr(for='flavour') shakes flavour 
        input#flavour(type='String', name='flavour') 
    div.form-group 
        label.shakesAttr(for='cost') shakes cost
        input#cost(type='String', name='cost') 
    div.form-group 
        label.shakesAttr(for='size') shakes size 
        input#size(type='String', name='size') 
    input(type="submit") 
 
  script. 
    document.forms['shakesForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 